<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Product Info Page</title>

<link rel="stylesheet" type="text/css" th:href="@{~/semantic/dist/semantic.min.css}">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script th:src="@{~/semantic/dist/semantic.min.js}"></script>


</head>

<body>
<h1>Product Info Page</h1>

<div class='ui container'>
	<div class="ui card">
	  <div class="ui slide masked reveal image">
	    <img th:src="@{~/img/pic1.jpg}" class="visible content">
	    <img th:src="@{~/img/pic3.jpg}" class="hidden content">
	  </div>
	  <!-- <div class="content">
	    <a class="header">Team Fu &amp; Hess</a>
	    <div class="meta">
	      <span class="date">Created in Sep 2014</span>
	    </div>
	  </div>
	  <div class="extra content">
	    <a>
	      <i class="users icon"></i>
	      2 Members
	    </a>
	  </div> -->
	</div> 
</div>
<script type="text/javascript">

 $(document).ready(function(){
    $('.slides').slick({
    	//swipe: false,
    	//mobileFirst: true,
    	dots: true,
    	//appendArrows: $('.ui.follow.button'),
    	//appendArrows: $('.slider.slider1.ui.container'),
    	//centerMode: true,
    	//centerPadding: '70px',
    	//adaptiveHeight: true,
    	//arrows: true,
    	//accessibility:false
    	prevArrow: "<button type='button' class='button'>Previousss</button>"
    });
  }); 
  
 /*  $('.slides').glide({
	  autoplay: false,
	  arrowsWrapperClass: 'slider-arrows',
	  arrowRightText: '',
	  arrowLeftText: ''
	}); */
  
</script>

</body>

</html>